body,html{
	width: 100%;
	height: 100%;
	background: #F1F1F1;
	/*overflow: hidden;*/
}
i{font-style: normal;}
.doHomework{
	background: #f1f1f1;
	position: relative;
}
.hwRankTitle{
	height: 88px;
	background: url(../images/B02-2_03.png) no-repeat 708px 38px #fff;
	margin-bottom: 18px;
	line-height: 88px;
	font-size: 30px;
	color: #333333;
	font-weight: 700;
	padding: 0 30px;
}
.hwTeacherRankTitle{
	background: url(../images/jiao22222.png) no-repeat 708px 38px #fff;
}
.hwInfo{
	background: #fff;
	padding: 0 30px 30px;
	font-size: 30px;
	color: #333333;
	line-height: 50px;
	margin-bottom: 20px;
}
.infoTitle{
	height: 83px;
	border-bottom: 1px solid #e1e1e1;
	line-height: 83px;
	font-weight: 700;
	font-size: 30px;
}
.kon{
	padding: 20px 0 30px 0;
	font-size: 30px;
	color: #333333;
}
.knowPoint span{
	display: inline-block;
	margin-left: 27px;
	padding: 0 15px;
	height: 50px;
	background: #ccf1ea;
	border-radius: 20px;
	color: #1dbf9d;
	text-align: center;
	margin-top: 10px;
}
.sTitle{
	background: url(../images/B02-2_07.png) no-repeat left 12px;
	padding-left: 27px;
}
.hwCon{
	margin:0 0 22px 27px;
}
.des{
	border-bottom: 1px solid #e1e1e1;
}
.audio_box{
	height: 78px;
	width: 100%;
	margin-top: 30px;
}
.audio_box div{
	display: inline-block;
	width: 274px;
	max-width: 620px;
	height: 78px;
	border: 1px solid #82be66;
	background: #a0e75a;
	border-radius: 10px;
	float: left;
	position: relative;
}
.audio_box span{
	display: inline-block;
	height: 78px;
	line-height: 78px;
	font-size: 30px;
	margin-left: 20px;
}
.play-icon{
	background: url("../images/voice_playing.png") 0 0 no-repeat;
	display: inline-block;
	width: 27px;
	height: 33px;
	position: absolute;
	top: 22px;
	left: 22px;
}
.playing{
	-webkit-animation: playvoice_1 2s infinite ease-in-out;
}
@keyframes playvoice_1 {
	0% {
		background: url("../images/voice_playing_f1.png") 0 0 no-repeat;
	}
	50% {
		background: url("../images/voice_playing_f2.png") 0 0 no-repeat;
	}
	100% {
		 background: url("../images/voice_playing_f3.png") 0 0 no-repeat;
	 }
}
.imgBox{
	margin-top: 30px;
	overflow: hidden;
}
.imgBox div,.imgBox li{
	margin: 0 14px 0 0;
	float: left;
	position: relative;
}
.imgBox>div:last-child{
	margin-right: 0;
}
.imgBox div img,.imgBox li img{
	width:216px;
	height: 216px;
}
.answer{
	background:#fff;
	font-size: 30px;
	padding: 0 30px 30px;
	line-height: 50px;
	position: relative;
}
.dh{
	margin:20px 0 10px 0 ;
}
.teBox{
	width: 633px;
	height: 218px;
	border: none;
	border: 1px solid #e1e1e1;
	outline: none;
	font-size: 30px;
	padding: 27px;
	border-radius: 5px;
}
.word{
	position: absolute;
	left: 604px;
	top:385px;
	font-size: 18px;
	color: #c6c6c6;
}
.clickImg{
	/*padding: 20px 0 40px 0;*/
}
.clickImg a{
	display: inline-block;
	width: 80px;
	text-align: center;
	padding: 20px 0px 0px 0;
	/*background: palegreen;*/
}
.clickImg a:first-child{
	text-align: left;
}
.clickImg>img:first-child{
	margin-right: 40px;
}
.btn{
	height: 88px;
	width: 100%;
	background: #00ba97;
	text-align: center;
	line-height: 88px;
	color: #fff;
	font-size: 30px;
	outline: none;
	border: none;
	border-radius: 10px;
	margin-top: 30px;
}
.btn-grey{
	background: #b2b2b2;
}
.stuImg{
	display: inline-block;
	width:42px;
	height: 42px;
	background: url(../images/121.png) no-repeat;
	position: absolute;
	left: 176px;
	top:0;
}
.stuVoice{
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url(../images/121.png) no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0 10px 0 0;
}
.layer-tips{
	/*width: 310px;
	height: 195px;*/
	height: 75px;
	border-radius: 10px;
	font-size: 32px;
	color: #fff;
	text-align: center;
	background: url(../images/tan.png) no-repeat 122px 42px #333;
	padding-top: 120px;
	overflow: hidden;
	/*width: 310px;*/
	/*position: fixed;*/
	/*top: 390px;*/
	/*left: 50%;*/
	/*-webkit-transform: translate(-50%);*/
	/*-moz-transform: translate(-50%);*/
	/*-ms-transform: translate(-50%);*/
	/*transform: translate(-50%);*/
	/*z-index: 10;*/
}
.submitBox p,.submitFail p,.tips-box p{
	font-size: 30px;
	color: #333333;
	text-align: center;
	margin-top: 30px;
}
.layui-layer-content{
	border-radius: 10px;
}
.submitBox button,.submitFail button,.tips-box button{
	width: 175px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	color: #fff;
	font-size: 30px;
	background: #00ba97;
	outline: none;
	border: none;
	margin: 40px 0 0 185px;
	border-radius: 10px;
}
.submitFail button,.tips-box button{
	margin: 40px 0 0 60px;
}
.submitFail>button:nth-child(3),
.tips-box>button:nth-child(3){
	background: #e4eaf1;
	color: #aeb1b7;
}
.submitFail img,.submitBox img,
.tips-box img,.submitBox img{
	margin: 38px 0 0 224px;
}
.hmAnswer{
	background: #fff;
	position: relative;
	padding: 0 30px 30px;
	margin-bottom: 20px;
}
.anDes{
	line-height: 50px;
	font-size: 30px;
	padding: 20px 0;
	border-bottom: 1px solid #e1e1e1;
}
.comment{
	background: #fff;
	padding: 0 30px 30px;
	margin-bottom: 20px;
}
.rankImg{
	background: url(../images/C02_02.png) no-repeat;
	height: 251px;
}
.ranklist{
	padding: 0 30px;
}
.ranklist li{
	height: 120px;
	border-bottom: 1px solid #e1e1e1;
	line-height: 120px;
}
.rankleft{
	font-size: 27px;
	float: left;
}
.rankfirst{
	color: #ffc600;
}
.ranksecond{
	color: #d1d1d1;
}
.rankthird{
	color: #e1a570;
}
.rankleft>i:nth-child(2){
	display: inline-block;
	height: 80px;
	width: 80px;
	background: #ffbb37;
	background: #ffbb37;
	color: #fff;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	margin: 0 20px 0 53px;
}
.rankcom{
	color: #808080;
	font-size: 22px;
}
.rankright{
	font-size: 23px;
	float: right;
	color: #808080;
}
.rankright>i:nth-child(1){
	margin-right: 20px;
}
.stuempty{
	margin: 126px 0 0 262px;
}
.stuempty p{
	font-size: 30px;
	color: #aeadad;
	margin: 22px 0 0 18px;
}
.teacherword{
	top:327px;
}
.voiceControl{
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 30px;
	color: #333333;
	width: 100%;
	border-top: 1px solid #e1e1e1;
}
.voiceControl img{
	margin: 40px 0 0 296px;
}
.voiceControl p{
	text-align: center;
	margin: 20px 0 40px;
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.2);
	z-index: 2;
}
.tips{
	background: rgba(0,0,0,0.3);
}
.layui-layer{
	border-radius: 10px!important;
}
.hw_status_s{
	display: inline-block;
	width: 96px;
	height: 96px;
	position: absolute;
	right: 30px;
	top: 16px;
	background: url("../images/excellent_icon.png") center center no-repeat;

}
.none{
	display: none;
}
.song_s{
	width:100%;
	height:300px;
	background:#fff;
	position: fixed;
	bottom:-300px;
	text-align:center;
	display:none;
	z-index:10;
}
.song_s img{
	margin-top:40px;
	margin-bottom:18px;
}
.song_s p{
	font-size:32px;
	color:#333;
}

.infoTitle span{
	display:block;
	float:right;
	width:72px;
	height:38px;
	margin-top:21px;
	border-radius:20px;
	border:1px solid #ff6a6a;
	color:#ff6a6a;
	/*background:#ff6a6a;*/
	font-size:22px;
	line-height:38px;
	text-align:center;
	font-weight:normal;
}
.excellent{
	width:400px;
	height:700px;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-200px;
	display:none;
}
.excellent img{
	width:400px;
	height:700px;
}
.music_s{
	width:50%;
	height:80px;
	margin:20px 0;
	background-color:#a0e75a;
	border-radius:8px;
	background-image:url(../images/voice_playing.png);
	background-repeat:no-repeat;
	background-position:20px center ;
	position: relative;
}
.music_s span{
	position:absolute;
	right:-65px;
	font-size:28px;
	color:#999;
	top: 18px;
}
.playing_s{
	-webkit-animation: playing_s2 1s infinite ease-in-out;

}
@keyframes playing_s2 {
	0% {
		background-image: url("../images/voice_playing_f1.png");
	}
	50% {
		background-image: url("../images/voice_playing_f2.png");
	}
	100% {
		background-image: url("../images/voice_playing_f3.png");
	}
}
.layui-layer-setwin{
	display: none!important;
}