body{
	height:100%;
	min-width:1200px;
}
.header{
	width:100%;
	height:51px;
	background:#00ba97;
	position:fixed;
	top:0;
	z-index:10;
}
.header h1{
	display:inline-block;
	font-size:18px;
	color:#fff;
	line-height:51px;
	padding-left:13px;
}
.user_name{
	display:block;
	float:right;
	min-width:55px;
	line-height:51px;
	font-size:12px;
	color:#fff;
	text-align:right;
	padding-right:15px;
	margin-right:20px;
	background:url(../images/img_1.png) no-repeat center right;
	cursor:pointer;
}
.usermenu{
	float:right;
	position:absolute;
	top:46px;
	right:20px;
	width:77px;
	height:38px;
	border:1px solid #e8e8e8;
	background:#fff;
	display:none;
	z-index:5;
}
.usermenu input{
	display:block;
	width:73px;
	height:23px;
	margin:7px auto 0;
	font-size:12px;
	color:#000;
	text-align:center;
	background:#fff;
	cursor:pointer;
}
.usermenu input:hover{
	background:#00ba97;
	color:#fff;
}
.usermenu span{
	display:block;
	width:10px;
	height:10px;
	background:red;
	margin-top:-8px;
	float:right;
	margin-right:5px;
	background:url(../images/img_2.png) no-repeat center center;
}
.content{
	position:relative;
	height:100%;
}
.left_nav{
	width:10%;
	min-width:142px;
	height:100%;
	display:block;
	float:left;
	background:#f7faf7;
	overflow:hidden;
	position:fixed;
	top:51px;
	z-index:10;
}
.left_nav h2{
	line-height:50px;
	font-size:18px;
	color:#01a889;
	padding-left:40px;
	background:url(../images/img_4.png) no-repeat  12px center;
}
.left_nav ul li a{
	display:inline-block;
	height:40px;
	width:100%;
	line-height:40px;
	font-size:14px;
	color:#94aca8;
	padding-left:40px;
}
.left_nav .activ_nav a{
	color:#fff;
	background:#00ba97;
}
.right_content{
	float:right;
	width:88%;
	margin-top:61px;
	padding-bottom:20px;
}
.index_title{
	margin-bottom:20px;
	height:39px;
	overflow: hidden;
}
.index_title span{
	display:inline-block;
	width:3px;
	height:13px;
	margin-top:12px;
	background:#00ba97;
	float:left;
}
.index_title h4{
	font-size:16px;
	color:#333;
	line-height:37px;
	padding-left:10px;
	border-bottom:2px solid #ccf1ea;
}
.index_title h4 i{
	font-style:normal;
	cursor: pointer;
}
.index_user{
	width:99%;
	height:118px;
	background:#fafafa;
	border:1px solid #e8e8e8;
	margin-bottom:40px;
}
.index_user li{
	display:inline-block;
	width:32%;
	text-align:center;
}
.index_user li h4{
	font-size:22px;
	color:#666;
	padding-top:25px;
}
.index_user li p{
	font-size:32px;
	padding-top:15px;
	color:#00ba97;
}
.index_user li p span{
	font-size:20px;
}
.index_formtit{
	width:98.5%;
	line-height:40px;
	color:#333333;
	font-size:16px;
	background:#ccf1ea;
	padding-left:1%;
}
.index_formtit a{
	float:right;
	color:#00ba97;
	font-size:16px;
	margin-right:10px;
	line-height:40px;
}
.index_forms{
	display:inline-block;
	margin-top:10px;
	width:99.5%;
}
.index_forms li{
	display:block;
	width:100%;
	height:45px;
	line-height:45px;
	border-bottom:1px solid #e6e7ed;
}
.index_forms li:hover,.homework_list li:hover{
	background:#f5fbfa;
}
.index_forms li span{
	display:inline-block;
	width:19%;
	text-align:center;
	height:45px;
	font-size:14px;
	color:#666;
	overflow:hidden;
	position: relative;
}
.index_forms li span a{
	color:#00ba97;
	font-size:14px;
}

/*作业*/
.homework_title{
	height:31px;
	background:#ccf1ea;
	font-size:14px;
	padding-left:10px;
	line-height:31px;
	overflow:hidden;
}
.homework_radiu{
	height:38px;
	padding-left:10px;
	margin-bottom:31px;
}
.homework_radiu li{
	line-height:38px;
	font-size:14px;
	color:#999;
	display:inline-block;
	width:80px;
	cursor: pointer;
}
.homework_radiu li img{
	position:relative;
	top:2px;
	margin-right:9px;
}
.homework_select{
	padding-left:10px;
	margin-bottom:40px;
}
.homework_samll_title{
	font-size:13px;
	color:#999;
	line-height:53px;
	float: left;
	margin-right:16px;
}
.homewor_big_selecet,.homework_samll_one{
	min-width:175px;
	height:28px;
	line-height:28px;
	text-align: center;
	border:1px solid #dfdfdf;
	margin-top:12px;
	font-size:14px;
	color:#666;
	float: left;
	background:url(../images/img_5.png) no-repeat right 8px center;
	cursor: pointer;
}
.homewor_big_selecet input{
	float:left;
	display:none;
}
.homework_samll_one{
	float:left;
	min-width:60px;
	text-align:left;
	margin-right:20px;
}
.homewor_small_selecet{
	width:100%;
}
.homework_samll_one h4{
	display:inline-block;
	font-size:13px;
	color:#999;
	line-height:28px;
	text-indent:.5em;
	padding-right:25px;

}
.homework_samll_one ul{
	width:100%;
	padding-bottom:10px;
	border:1px solid #dfdfdf;
	position:relative;
	background:#fff;
	display:none;
	z-index: 1;
	left:-1px;
}
#schoolComparsion ul li span{
	width:25%;
}
.homework_samll_one li{
	min-width:73px;
	height:23px;
	line-height:29px;
	font-size:12px;
	text-align:center;
}
.homework_samll_one li:hover{
	background:#00ba97;
	color:#fff;
}
.homework_see p{
	position:relative;;
	top:-31px;
	font-size:14px;
	color:#999;
	line-height:31px;
	float:right;
	margin-right:25px;
}
.homework_see span{
	display:inline-block;
	width:42px;
	height:18px;
	background:#fff;
	border:1px solid #dfdfdf;
	color:#999;
	font-size:12px;
	line-height:18px;
	margin-top:5px;
	text-align:center;
	cursor: pointer;
	margin:0 -1px;
}
html body .homework_active{
	background:#00ba97;
	color:#fff;
	border:none;
	padding:.5px 1px;
	margin:0 -1px;
	z-index:2;
}
.homework_Statistics{
	width:99%;
	margin-bottom:40px;
}
.homework_Statistics div{
	width: 48%;
	height: 138px;
	border: 1px solid #e8e8e8;
	background: #fafafa;
	padding-left: 15px;
	margin-top: 20px;
	float: left;
}

.homework_Statistics div h4{
	padding-top:21px;
	font-size:18px;
	color:#333;
}
.homework_Statistics div h1{
	font-size:28px;
	color:#00ba97;
	padding-top:8px;
}
.homework_Statistics div h1 i{
	font-style:normal;
	margin-left:-12px;
}
.homework_Statistics div h1 span{
	font-size:12px;
	color:#333;
	margin-left:14px;
}
.homework_Statistics div p{
	font-size:14px;
	color:#333;
	padding-top:10px;

}
.homework_Statistics div p span{
	display:inline-block;
	width:105px;
	margin-left:5px;
}
.homework_explain img{
	margin-left:80%;
	position: absolute;
	margin-top: 2px;
	cursor: pointer;
}
.homework_list{
	width:98.2%;
	padding-left:10px;
	margin-top:21px;
}
.homework_list li{
	padding-left:27px;
	border-bottom:1px solid #e6e7ed;
}

.homework_list span{
	display:inline-block;
	position:relative;
	width:14%;
	text-align:center;
	height:46px;
	line-height:46px;
	font-size:14px;
	overflow:hidden;
}
.sort_h{
	position:absolute;
	width:20px;
	height:20px;
	/*right:14%;*/
	/*top:13px;*/
	padding:12px;
	padding-right:0;
	cursor:pointer;
}
.homework_list_title{
	font-size:14px;
	background:#ccf1ea!important;
	color:#666;
}
html body .homework_operation{
	font-size:14px;
	color:#00ba97;
	cursor: pointer;
}
.back_big,.back_big_all{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	z-index:11;
	display:none;
}
.operation_s{
	width:882px;
	height:auto;
	position:fixed;
	left:50%;
	top:50%;
	margin:-277px 0 0 -441px;
	background:#fff;
	z-index:12;
	border:1px solid #dfdfdf;
	display:none;
	padding-bottom: 45px;
}
.operation_s img{
	position:absolute;
	right:0;
	top:0;
	padding:26px;
	cursor: pointer;
}
.operation_s h4{
	padding-top:36px;
	text-align:center;
	font-size:18px;
	color:#333;
}
.operation_s p{
	font-size:16px;
	color:#333;
	line-height:25px;
	padding:25px 26px 0 39px;
}
.homework_sea{
	width:65%;
	height:37px;
	border:1px solid #dfdfdf;
	margin-top:11px;
	margin-bottom:19px;
}
.homework_sea input{
	width:90%;
	height:37px;
	line-height:37px;
	font-size:12px;
	padding-left:10px;
	float:left;
}
.homework_sea img{
	margin-right:9px;
	float:right;
	margin-top:10px;
	cursor: pointer;
}
.homework_explain a{
	font-size:14px;
	color:#00ba97;
	float:right;
	margin-right:10px;
}
.detail_s ul li span{
	width:134px;
}
.lesstme_condition ul{
	float:left;
}

/*课时*/
.lesstiime_chart{
	width:98%;
	height:424px;
	border:1px solid #e8e8e8;
	bnorder-right:none;
	margin-top:15px;
	margin-bottom:65px;
}
.lesstiime_chart li{
	display:block;
	float:left;
	width:33.25%;
	height:424px;
	border-right:1px solid #e8e8e8;
}
.lesstiime_chart_top{
	width:100%;
	height:100px;
	text-align:center;
	border-bottom:1px solid #e8e8e8;
}
.lesstiime_chart_top h4{
	font-size:18px;
	color:#333;
	padding-top:20px;
}
.lesstiime_chart_top h1{
	font-size:28px;
	color:#00ba97;
	padding-top:10px;
}
.lesstiime_chart_bottom p{
	padding-top:21px;
	padding-left:10px;
	font-size:14px;
	color:#333;
}
.echarts_one{
	width:100%;
	height:260px;
	margin-top:21px;
}
.lesstiime_chart_bottom{
	position:relative;
}
.lesstiime_chart_bottom p a{
	font-size:12px;
	color:#00ba97;
	padding-top:22px;
	margin-top:-21px;
	position: absolute;
	right:13px;
}
.lesstime_list span{
	width:25%;
}
.last_lesstime_chart{
	width:98%;
	height:309px;
	border:1px solid #e8e8e8;
	margin-top:40px;
}
#class_echart,#lesstime_echart{
	width:49.9%;
	height:100%;
	border-right:1px solid #e8e8e8;
	float:left;
}
.lesstime_detail ul{
	float:left;
}
.lesstime_detail .homewor_big_selecet{
	margin-right:20px;
}
#date_input{
    width:100%;
    max-width:100%!important;
    background-color:#fff;
    background-image:url(../images/img_5.png);
    background-repeat:no-repeat;
    background-position:90% center ;

}
.lesstime_detail_list span{
	width:33%;
}
.lesstime_Result{
	padding:36px 0;
	font-size:14px;
	color:#666;
	text-align:center;
}
.lesstime_noseach{
	font-size:19px;
	text-align: center;
	padding-bottom:36px;
	color:#aeadad;
	display:none;
}
.lesstime_noseach img{
	display:block;
	margin:82px auto 18px;
}
/*权限*/
.power_radiu li img{
	top:3px;
}
.power_list{
	padding-left:0;
}
.power_list li span{
	width:16.6%;
	height:39px;
	line-height:39px;
	overflow:hidden;
}
.index_title a{
	display:block;
	float: left;
	position:relative;
	top:-36px;
	left:90%;
	width:100px;
	height:30px;
	background:#00b997;
	line-height:30px;
	color:#fff;
	font-size:14px;
	text-align:center;
}
.index_title a img{
	margin-right:8px;
}
.power_search{
	width:98%;
	background:#fafafa;
	border:1px solid #e8e8e8;
	padding-bottom:25px;
}
.power_screen{
	margin-left:26px;
	margin-top:25px;
}
.power_screen .homework_sea{
	float:left;
	margin:0;
	background:#fff;
}
.power_screen h4{
	display:block;
	float:left;
	width:55px;
	height:38px;
	line-height:38px;
	font-size:16px;
	color:#666;
}
.power_screen li{
	display:inline-block;
	font-size:14px;
	color:#999;
	line-height:38px;
}
.power_screen li img{
	position:relative;
	top:4px;
	margin-right:8px;
}
.userAdd{
	min-height:407px;
	padding:0;
}
.user_operation{
	width:252px;
	height:40px;
	margin:110px auto 0;
}
.user_operation a{
	display:block;
	float:right;
	width:89px;
	height:38px;
	background:#00ba97;
	font-size:14px;
	color:#fff;
	line-height:38px;
	text-align:center;
}
.user_operation .user_operation_cancel{
	float:left;
	background:#dfdfdf;
}
.user_Prompt{
	width:379px;
	height:189px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-94px 0 0 -189px;
	background:#fff;
	border:1px solid #dcdcdc;
	display:none;
}
.user_Prompt p{
	font-size:18px;
	color:#333;
	padding-top:56px;
	text-align:center;
}
.user_Prompt input{
	display:inline-block;
	margin:49px auto 0;
	width:92px;
	height:38px;
	background:#fff;
	border:1px solid  #00b997;
	color:#00b997;
	font-size:16px;
	line-height:38px;
	cursor: pointer;
}
.user_Prompt .user_Prompt_confirm{
	margin-left:90px;
	background:#00b997;
	border:1px solid  #fff;
	color:#fff;
}
.user_Prompt .user_none{
	margin-left:143px;
}
.master_edit,.master_confrim{
	margin-right:10px;
	font-size:14px;
	line-height:46px;
	color:#00ba97
}
/*主讲样式*/
.add_l{
	width:400px;
	height:260px;
	padding-top:40px;
	background:#fff;
	position: fixed;
	left:50%;
	top:50%;
	margin:-150px 0 0 -200px;
	border-radius:8px;
	z-index:11;
	display:none;
}
.add_l p {
	line-height:50px;
	font-size:15px;
	color:#000;
}
.add_l span{
	display:inline-block;
	width:100px;
	text-align:right;
	margin-right: 20px;
}
.add_l p input{
	display:inline-block;
	width:210px;
	padding-left:10px;
	height:35px;
	border:1px solid #ccc;
	border-radius:5PX;
}
.true_l, .false_l,.false_s,.true_s{
	display:inline-block;
	width:80px;
	height:40px;
	background: #00ba97;
	font-size:15px;
	color:#fff;
	position: absolute;;
	bottom:40px;
	border-radius:8px;
}
.true_l,.true_s{
	right:50px;
	cursor: pointer;
}
.false_l,.false_s{
	left:50px;
	background:#ccc!important;
	cursor: pointer;
}
.edit_s{
	position: fixed;
	left:50%;
	top:50%;
	margin:-85px 0 0 -200px;
	width:400px;
	min-height:90px;
	background:#fff;
	z-index:11;
	border-radius:10px;
	padding-bottom:80px;
	display:none;
}
.edit_s p{
	line-height:50px;
	font-size:15px;
	color:#000;
}
.edit_s p span{
	padding-left:30px;
	margin-right:20px;
}
.edit_s p i{
	display:block;
	float:right;
	width:20px;
	height:20px;
	border:2px solid #ccc;
	color:#00ba97;
	border-radius:50%;
	line-height:20px;
	text-align:center;
	font-size:15px;
	font-style:normal;
	margin-top:15px;
	margin-right:20px;
	cursor:pointer;
}
.edit_s p select{
	border:1px solid #ccc;
	margin-left:28px;
	display:inline-block;
	width:100px;
	height:25px;
}
.edit_s p input{
	border:1px solid #00ba97;
	display:inline-block;
	width:160px;
	height:25px;
	padding-left:20px;
	margin-left:20px;
}
.edit_s .false_s,.edit_s .true_s{
	bottom:20px;
	cursor:pointer;
}
.edit_s p b{
	font-family:normal;
	color:#00ba97;
}
.old_s{
	margin-top:20px;
	border-top:1px solid #ccc;
}
html body .master_list{
	padding:0;
}
.power_screen ul{
	float: left;
	display: block;
	width: 746px;
}
.power_screen ul li{
	margin-right:10px;
	cursor: pointer;
}
html body .adduser_list{
	width:351px;
	max-height:500px;
	margin-left:-1px;
	display:block;
	position:relative;
	background:#fff;
	border: 1px solid #dfdfdf;
	z-index:10;
	overflow:auto;
	display:none;
}
html body .adduser_list li{
	display:block;
	line-height:30px;
	font-size:14px;
	padding-left:10px;
	margin-right:0;
}
.adduser_list li:hover{
	background:#00ba97;
	color:#fff;
}
html body .adduser_list_active{
	background:#00ba97;
	color:#fff;
}
.date-input {
	height: 12px;
	font-size:12px;
	padding:9px 0 9px 10px;
	min-width: 143px;
	line-height: 12px;
	background-color: #fff;
	display: inline;
	color: #666;
	margin-right:20px;
}
.select-btn{
	background-color: #00ba97;
	height: 30px;
	padding:  0 20px;
	color:#fff;
	margin-top: 12px;
	margin-left:20px;
	cursor:pointer;
}
.PublicPage {
	text-align: center;
	font-size: 12px;
	padding: 10px 20px 0;
	margin-bottom: 30px;
}

.PublicPage a,
.PublicPage .pCurrent,
.PublicPage .pPrev,
.PublicPage .pNext {
	border: 1px solid #dcdcdc;
	padding: 5px 10px;
	margin-left: 3px;
	color:#000;
}

.PublicPage a:hover {
	text-decoration: none;
	background: #00ba97;
	color: #fff;
	border: 1px solid #00ba97;
}

.PublicPage .pCurrent {
	background: #00ba97;
	color: #fff;
	border: 1px solid #00ba97;
	cursor: pointer;
}

.PublicPage .pGray {
	background: #ebebeb;
	color: #9f9f9f;
	border: 1px solid #dcdcdc;
}

.PublicPage .pAdorn {
	height: 22px;
	line-height: 22px;
	padding: 2px 6px;
	margin-left: 8px;
	text-align: center;
}

.PublicPage .pFirst,
.PublicPage .pPrev,
.PublicPage .pNext,
.PublicPage .pLast {
}

.PublicPage .pSelect {
}

.PublicPage .pPrev i,
.PublicPage .pNext i {
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.PublicPage input {
	border: 1px solid #dcdcdc;
	line-height: 12px;
	height: 12px;
	padding: 6px 2px;
	width: 28px;
	text-align: center;
}
.no_echart_data{
	height: 260px;
	line-height: 260px;
	text-align: center;
	display: none;
}
.loading_pre{
	position:fixed;
	top:0;
	left:0;
	background:#fff;
	width:100%;
	height:100%;
}
.loading_pre img{
	position:absolute;
	top:50%;
	left:50%;
	width:300px;
	height:300px;
	margin:-150px 0 0 -150px;
}
.noun_explanation_icon{
	width: 16px;
	height: 16px;
	margin-left: 5px;
	cursor: pointer;
}
.homeworke_all_center{
	width:50%;
	height:80%;
	min-height:666px;
	background:#fff;
	position:absolute;
	top:50%;
	left:50%;
}
.homework_all_title{
	display:block;
	height:50px;
	border-bottom:1px solid #ccc;
	line-height:50px;
	font-size:20px;
	text-align:center;
	background:#ccf1ea;
}
.homework_all_title i{
	font-style:normal;
	font-size:12px;
	position:absolute;
	margin-top:5px;
	margin-left:10px;
	height:51px;
	overflow:hidden;
}
.homework_all_title img{
	float:right;
	padding:10px;
	cursor: pointer;
}
.homework_all_content{
	display:block;
	width:95%;
	margin:0 auto;
}
.homework_all_content li{
	display:block;
	float:left;
	width:50%;
	height:50px;
	line-height:50px;
	border-bottom:1px solid #ccc;
}
.homework_all_data{
	width:95%;
	overflow:auto;
	overflow-y:hidden;
	margin:0 auto;
	border:1px solid #ccc;
	margin-top:10px;
	border-bottom:none;
	border-bottom:1px solid #ccc;
}
.learn_all_data{
	width:100%;
	/*min-height:183px;*/
	border-top:1px solid #ccc;
	margin-top:10px;
}
.learn_all_data li{
	border-bottom:1px solid #ccc;
}
.learn_all_data span{
	display:block;
	float:left;
	height:50px;
	font-size:14px;
	width:24.5%;
	line-height:50px;
	text-align:center;
}
.learn_Export{
	margin-top:-31px;
	float:right;
	margin-right:8px;
	cursor: pointer;
	color:#01a889;
}
.learn_more,.learn_exit{
	color:#00ba97;
	cursor: pointer;
}
.learn_self_data ul li span{
	height:30px;
	line-height:30px;
}
.learn_self li{
	height:45px;
	line-height:45px;
	font-size:15px;
	overflow:hidden;
}
.homework_all_data::-webkit-scrollbar-thumb,.learn_center_all::-webkit-scrollbar-thumb{
	border-radius: 10px;
	height:8px;
	background-color: #555;
}
.learn_center_all{
	overflow-y:auto;
}
.learn_all_echart{
	width:95%;
	margin:0 auto ;
	height:39%;
}
.learn_self_data{
	margin-top:5px;
	margin-bottom:5px;
}
.learm_detail_data{
	width:100%;
}
.learn_all_echart_left,.learn_all_echart_right{
	width:100%;
	height:100%;
	float:left;
	margin-right: 0px;
	margin-left: 0px;
}
.learn_all_echart_right{
	float:right;
}
.learn_self_data{
	height:auto;
}
html body .learn_self_data ul{
	height:auto;
}
html body .learn_self_data ul li {
	width:12%;
}
.homework_all_data::-webkit-scrollbar,.learn_center_all::-webkit-scrollbar{
	height:8px;
	width: 8px;
	background-color: #F5F5F5;
}
.homework_all_data ul{
	display:block;
	white-space: nowrap;
	font-size:0px;
}
.homework_all_data li{
	display:inline-block;
	width:12%;
	height:100%;
	border:1px solid #ccc;
	border-bottom:none;
	margin-left:-1px;
	margin-top:-1px;
	overflow:hidden;
}
.homework_all_data li p{
	height:30px;
	font-size:14px;
	text-align:center;
	line-height:30px;
	border:1px solid #ccc;
	border-right:none;
	margin-left:-1px;
	margin-top:-1px;
}
.homework_all_data li span{
	display:block;
	height:30px;
	font-size:14px;
	width:99%;
	line-height:30px;
	margin-left:-1px;
	margin-top:-1px;
	margin-bottom: -1px;
	text-align:center;
	border:1px solid #ccc;
	border-right:none;
}
.homework_all_echart{
	width:90%;
	height:40%;
	margin:10px auto 0;
}