/*search*/
.hot-search {
    padding: 20px 0;
}

.hot-search .inp-s {
    width: 300px;
    color: #c5c5c5;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    padding: 0px 8px 0px 30px;
    float: left;
}

.search {
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    padding-bottom: 4px;
    background: #00BA97;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: left;
    line-height: 26px;
}

.hot-search .newSet {
    background: #00b997;
    display: inline-block;
    padding: 5px 14px;
    color: #fff;
}

.hot-search .search-box {
    position: relative;
    height: 32px;
    overflow: hidden;
}

.hot-search .search-box .ico-search {
    position: absolute;
    left: 10px;
    top: 9px;
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/z-search.png) no-repeat;
}

.hot-search .account-tit {
    margin: 5px 9px 0px 30px;
}

/*分类*/
.hot-classes {
    border: 1px solid #dfdfdf;
    padding: 10px 8px;
    font-size: 12px;
    margin-bottom: 35px;
    position: relative;
    background: #FAFAFA;
}

.hot-classes .list1 li {
    position: relative;
    padding-left: 45px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    margin-bottom: 7px;
}

.hot-classes .list1 li .xian-wid {
    display: inline-block;
    width: 95%;
}

.hot-classes .list1 li .xian-wid2 {
    display: inline-block;
    width: 95%;
}

.hot-classes .list1 li .xian-wid3 {
    display: inline-block;
    width: 95%;
}

.hot-classes .list1 li .xian-wid4 {
    display: inline-block;
    width: 95%;
}

.hot-classes .list1 li.last {
    margin-bottom: 0;
}

.hot-classes .list1 li .tit {
    position: absolute;
    left: 0;
    top: 0px;
}

.hot-classes .list1 li a {
    display: inline-block;
    margin-right: 2px;
    padding: 2px 4px 0px 4px;
    margin-bottom: 3px;
    line-height: 20px;
}

.hot-classes .list1 li a.cur {
    color: #fff;
    background: #00ba97;
    padding: 2px 4px 0px 4px;
}

.hot-classes .list1 li a:hover {
    color: #fff;
    background: #00ba97;
}

.hot-classes .list1 li em {
    color: #00ba97;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 0;
}

.hot-classes .list1 li em .ico-open {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/ico-open.png) no-repeat;
    position: relative;
    top: -2px;
    left: 3px;
}

.hot-classes .list1 li em .ico-shou {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../images/ico-shou.png) no-repeat;
    position: relative;
    top: -2px;
    left: 3px;
}

.hot-classes .list1 li .shou {
    display: none;
}

.hot-classes .list1 li .open {
    display: none;
}

.hot-classes .list1 li .shou2 {
    display: none;
}

.hot-classes .list1 li .open2 {
    display: none;
}

.hot-classes .list1 li .shou3 {
    display: none;
}

.hot-classes .list1 li .open3 {
    display: none;
}

.hot-classes .list1 li .shou4 {
    display: none;
}

.hot-classes .list1 li .open4 {
    display: none;
}

.hot-classes .list1 li:last-child {
    margin-bottom: 0;
}

.hot-classes .botton {
    position: absolute;
    left: 50%;
    bottom: -14px;
    margin-left: -20px;
    width: 41px;
    height: 14px;
    background: url(../images/z-botton.png) no-repeat;
    cursor: pointer;
}

/*表格*/
.p176-table-wrap .p176-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    z-index: 1;
}

.p176-table thead th, .p176-table tbody td {
    text-align: left;
    line-height: 24px;
    border-bottom: 1px solid #e6e7ed;
    padding: 8px 0px 8px 15px;
}

.p176-table thead th {
    color: #c5c5c5;
}

.p176-table02 tbody tr:hover td, .p176-table02 tbody tr.on td {
    background: #e5f8f4;
}

.p176-table04 tbody tr:hover .p176-table-btnGroup,
.p176-table04 tbody tr.on .p176-table-btnGroup {
    display: block;
}

.fr {
    float: right;
}
