body{
	background: #f1f1f1;
}
.scheduleTime{
	min-height: 2.73rem;
	background: #fff;
	padding: 0.4rem;
}
.scheduleTitle{
	font-size: 0.45rem;
	color: #333333;
	margin: 0 0 0.4rem 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.classHour{
	font-size:.6rem;
}
.classHour i{
	margin:0 .05rem;
	font-style: inherit;
	font-size:.4rem;
}
.classHour span{
	font-size:.4rem;
}
/*studetails*/
.stuNum{
	font-size: 0.36rem;
	color: #808080;
	margin-bottom: 0.39rem;
}
.stuSchedule{
	height: 4.2rem;
}
.pos{
	margin-bottom: 0.27rem;
	height: 0.35rem;
}
#position{
	font-size: 0.35rem;
	color: #808080;
	float: left;
	margin-top: -0.05rem;
}
.pos img{
	width:0.31rem;
	height: 0.35rem;
	margin-right: 0.27rem;
	float: left;
}
/*-------*/
.time{
	font-size: 0.36rem;
	margin-bottom: 0.29rem;
	color: #808080;
	line-height:0.36rem;
	height: 0.36rem;
}
.time img{
	width:0.36rem;
	height:0.36rem;
	margin-right: 0.27rem;
}
.date{
	font-size: 0.36rem;
	margin-bottom: 0.3rem;
	color: #808080;
}
.date img{
	width:0.36rem;
	height:0.36rem;
	margin-right: 0.27rem;
}
.progressBar{
	width:6.5rem;
	height: 0.21rem;
	background: #f1f1f1;
	border-radius: 5px;
	float: left;
	margin-right: 0.16rem;
}
.progressBar p{
	height: 0.21rem;
	width:5rem;
	background: #00ba97;
	border-radius: 5px;
}
.classHour{
	font-size: 0.4rem;
	float: left;
	height:0.3rem;
	line-height: 0.3rem;
	color: #808080;
}
.classTeacher{
	height: 4rem;
	background: #fff;
	margin-top: 0.26rem;
	padding: 0.4rem .4rem 0.4rem 0.4rem;
	position: relative;
}
.classTeacher p{
	font-size: 0.4rem;
	height:1.12rem ;
	color: #333333;
	line-height: 1.12rem;
	border-bottom:1px solid #e1e1e1;
}
.classTeacher a{
	color:#333;
	display:block;
}
.classTeacher p img{
	width:.17rem;
	height:.33rem;
	float:right;
	margin-right:.13rem;
	margin-top:.4rem;
}
.swiper-container{
	width:100%;
	margin-top:0.27rem ;
}
.classTeacher ul{
	height: 1.7rem;
}
.classTeacher li{
	width:1.55rem;
	height: 1.55rem;
	border-radius: 50%;
	background: #ff6a6a;
	font-size: 0.36rem;
	color: #fff;
	line-height: 1.55rem;
	text-align: center;
	float: left;
	margin-right: 0.56rem;

}
.studentList{
	height:3.5rem;
}
html body .studentList li{
	min-width:1.5rem!important;
	height: 1.5rem;
	border-radius: 50%;
	background: #ffbb37;
	font-size: 0.36rem;
	color: #fff;
	line-height: 1.5rem;
	text-align: center;
	float: left;
	margin-right: 0.48rem!important;
}
.studentList li p{
	border:none;
}
.studentList .swiper-container{
	height:3rem;
}
.rightArrow{
	position: absolute;
    right: .4rem;
    top: 1.8rem;
}
.studentList .rightArrowTwo{
	position: absolute;
	top:1.5rem;
	left: 95%;
}
.teacherList .swiper-container{
	height:3.1rem;
}
.teacherList li span{
	font-size:.2rem;
}
.teacherList ul li p{
	border:none;
}
.teacherList .rightArrowOne{
	/*display: inline-block;*/
	width:0.16rem;
	height: 0.3rem;
	position: absolute;
	top:1.65rem;
	left: 95%;
}
.swiper-container{
}
.rightArrowTwo img,.rightArrowOne img{
	width:0.16rem;
	height: 0.3rem;
}
.schoolCampus{
	background: #fff;
	margin-top: 0.26rem;
	padding: 0.4rem;
}
.schoolCampus h3{
	font-size: 0.4rem;
	height:1.12rem ;
	color: #333333;
	line-height: 1.12rem;
	/*border-bottom: 1px solid #e1e1e1;*/
}
.schoolCampus dl{
	height: 1rem;
	border-top: 1px solid #e1e1e1;
	padding: 0.4rem 0;
}
.schoolCampus dt{
	font-size: 0.4rem;
	width: 2.5rem;
	border-right: 1px solid #E1E1E1;
	height: 0.98rem;
	float: left;
	text-align: center;
}
.schoolCampus dd{
	font-size: 0.37rem;
	float: left;
	margin-left: 0.4rem;
	line-height: 0.63rem;
	min-width:20%;
}
.name{
	color: #808080;
}
.nocade_s li{
	display:inline-block;
	width:50%;
	margin-top:.3rem;
}   
.nocade_s span{
	display:block;
	width:1.5rem;
	height:1.5rem;
	background:#ff6a6a;
	border-radius:50%;
	margin:0 auto;
	line-height:1.5rem;
	font-size:.2rem;
	text-align:center;
	color:#fff;
}
.nocade_s p{
	text-align:center;
	font-size:.4rem;
	line-height:1.4rem;
}
    .nocade_s{
    height: 3.22rem;
    background: #fff;
    margin-top: 0.26rem;
    padding: 0.4rem .4rem 0.4rem 0.4rem;
    position: relative;
    }