/* CSS Document */
@charset "utf-8";
.grid{
	width: 94%;
	margin: 0 auto;
}
.header-main{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.header{
	background: #fff;
    padding:.5rem 0;
	width: 94%;
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    align-items: center;
    color: #00ba97;
    font-size:.42rem;
    margin:0 auto;
   /* position: fixed;
    top: 0;
    left: 0;
    z-index: 10;*/
}
.header .child.return{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: flex-start;
    flex: 0; 
	-ms-flex: 0;
	-webkit-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;
}
.header .child.return i{
   
    width: .12rem;
    height: .2rem;
    background: url(../images/BACK.png) no-repeat;
    background-size: cover;
    
}
.header .child.date{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content:center;
    align-items: center;
    flex: 0;
	-ms-flex: 0;
	-webkit-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 57%;
}
.header .child.date i{
    display: inline-block;
   width: .3rem;
   height: .2rem;
   background: url(../images/calendar_bottom.png) no-repeat center center;
   background-size: cover;
   margin-left: .1rem;
}
.header .child.almanac{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
	justify-content: flex-end;
	flex: 0;
	-ms-flex: 0;
	-webkit-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20%;

}

.share img{
	width: .3rem;
    height: .3rem;
    vertical-align: middle;
}


/*start day*/
.content{
    padding-top: 1.6rem;
}
.day{
	height: .77rem;
	background: #DA5751;
	color: #fff;
    display:none;
}
.day .grid{
	width: 94%;
    height: 100%;
    padding: 0 3%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
}
.day-left {
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 56%;
    -webkit-flex: 0;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: 56%;
}
.day-right {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 44%;
    -webkit-flex: 0;
    -webkit-flex-grow: 0;
    -webkit-flex-shrink: 0;
    -webkit-flex-basis: 44%;
    align-items: center;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -ms-justify-content: flex-end;
}
.day-left h1{
	
    font-size: .6rem;
    padding-right: .08rem;
	
}
.day-left .top-contrl p{
	    display: flex;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: wrap;
     -webkit-align-items: center;
     -webkit-flex-wrap: wrap;
    margin-top: .1rem;
}
.top-contrl p span{
     width: .1rem;
    height: .06rem;
    background: url(../images/cotrl-bottom.png) no-repeat;
    background-size: cover;
   /* margin-left: .1rem;*/

}
.top-contrl i{
       font-size: .2rem;
       white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.day-left p em{
	font-size: .15rem;
}
.day-left p i{
	margin-top: .01rem;
    display: block;
    font-size: .2rem;
}
/*.day-right{
	float: right;
	height: 100%;
}*/
.day-right .yun {
	height: 100%;
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-align-items: center;
    position:absolute;
    left: -.1rem;
    top: -.38rem;
}
.day-right .yun span{
    display: inline-block;
    width: .6rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    margin-left: .15rem;
    color:#54c8ad;
    /*align-self:center;*/
}
.note{
	width: 100%;
	height: .68rem;
	border-bottom: 1px solid #ddd;
    background: #fff;
}
.month_hour{
    float:right;
}
.month_hour span{
    color:#808080;
}
.month_hour span i{
    color:#00ba97;
}
.note .grid{
	padding: .12rem 0;
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
}
.note .grid .note-left{
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note .grid .note-right{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    justify-content: flex-end;
    color: #333;
}
.note .grid .note-right i{
	width: .07rem;
    height: .13rem;
    background: url(../images/calendar_arrow_right.png) no-repeat;
    background-size: cover;
    margin-left: .11rem;
   
}
.note .grid .note-left p{
	width: 100%;
    font-size: .14rem;
    line-height: 1.6;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.note .grid .note-left p.yi i{
   color: #06b5f8;
}
.note .grid .note-left p.ji i{
   color: #ec5252;
}
.week ul{
	width: 98%;
    padding: 0 1%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: .66rem;
    line-height:.66rem;
}
.week ul li{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: auto;
    -ms-flex: auto;
    -webkit-flex: auto;
    justify-content: center;
    align-items: center;
    font-size: .37rem;
}
.week ul li a{
    color:#808080;
}
.out-wrap{
    background:#fff;
}
body{
    background:#f1f1f1;
}
.tables{
	font-size: .14rem;
	color: #666;
	font-family:"微软雅黑";
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.tables tbody{
    width: 100%;
}
.tables tbody tr{
    width: 98%;
    padding: 0 1%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.tables tbody tr td{
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 13%;
    justify-content: center;
    padding: .04rem .06rem;
    position: relative;
    line-height: .4rem;
}
.tables .list i{
	display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: .4rem;   
    justify-content: center;
    display:block;
    width:.8rem;
    height:.8rem;
    line-height:.8rem;
    margin:0 auto;
}
.tables .list em{
	display: none!important;
    display: -webkit-flex;
    display: -ms-flexbox;
    font-size: .12rem;
    justify-content: center;
    
}
.swiper-slide table tr{
	text-align: center;
}
tr .not_this{
	color: #ccc !important;
}
.today{
    color:#fff;
}
.inter_S:before{
    content:'';
    display:block;
    width:.1rem;
    height:.1rem;
    background:red;
    border-radius:50%;
    z-index:-2;
    color: #fff;
    position:absolute;
    bottom:0;
    left:45%;
}
.innet_S:before{
    content:'';
    display:block;
    width:.1rem;
    height:.1rem;
    background:#ccc;
    border-radius:50%;
    z-index:-2;
    color: #fff;
    position:absolute;
    bottom:0;
    left:45%;
}
.today:after,.xuanzhong:before,.xuanzhong_s:before{
    content:'';
    display:block;
    width:.9rem;
    height:.9rem;
    background:#00ba97;
    position:absolute;
    left:50%;
    margin-left:-.45rem;
    top:50%;
    margin-top:-.43rem;
    border-radius:50%;
    z-index:-1;
    color: #fff;
}
.month_hour i{
    margin-left:.2rem;
}
.xuanzhong:before{
    background:#ccc;
}
.xuanzhong_s:before{
    background:#ffbb37;
}
.xuanzhong,.xuanzhong_s{
    color:#fff;
}
td{position: relative;}
td .fangjia{

    display: block;
    width: .14rem;
    height: .14rem;
    background: url(../images/calendar_img_relax.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0; 

}
td .shangban{
	display: block;
    width: .14rem;
    height: .14rem;
    background: url(../images/calendar_img_work.png) no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0; 
}

/*******弹窗******/
.prorup{
	width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    opacity: 0.4;
    display: none;
}
.layer{
	position: fixed;
    width: 94%;
    top: 1.26rem;
    left: 50%;
    margin-left: -47%;
    z-index: 14;
    display: none;
}
.layer .san{
	width: 100%;
	display: block;
    height: .07rem;
}
.layer .san i{
	display: inherit;
	width: 0;
    height: 0;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent;
    border-bottom: .08rem solid #fff;
    float: right;
    margin-right: .6rem;
}
.layer .jia{
  width: 100%;
  background: #fff;
  border-radius: 8px;
}
.jia ul{
	    width: 100%;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}
.jia ul li{
	height: .54rem;
    float: left;
    text-align: center;
    color: #333;
    flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 49.8%;
}
.jia ul li:first-of-type{
	border: 0;
}
.jia ul li:nth-child(2n){
    border-bottom: 1px solid #eee;
}
.jia ul li:nth-child(2n+1){
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.jia ul li span{
	display: block;
	font-size: .14rem;
	margin-top: .08rem;

}
.jia ul li em{
	font-size: .12rem;
}

.jie{
	position: fixed;
	width: 94%;
	top: 1.26rem;
	left: 50%;
    margin-left: -47%;
    z-index: 14;
    display: none;
}
.jie .san{
	width: 100%;
	display: block;
    height: .07rem;
    position: relative;
}
.jie .san i{
	display: inherit;
	width: 0;
    height: 0;
    border-left: .06rem solid transparent;
    border-right: .06rem solid transparent;
    border-bottom: .08rem solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: .1rem;
}
.jie .solar{
	width: 100%;
	background: #fff;
	border-radius: 8px;
}
.jie .solar .solar-title{
	height: .5rem;
	text-align: center;
	color: #ec5252;
	line-height: .5rem;
}
.solar ul{
	width: 100%;
}
.solar ul li{
	float: left;
	width: 24.7%;
	text-align: center;
	line-height: .4rem;
	font-size: .14rem;
	color: #333;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
}
.solar ul li:nth-child(4){
	border-right: 0;
}
.solar ul li:nth-child(8){
	border-right: 0;
}
.solar ul li:nth-child(12){
	border-right: 0;
}
.solar ul li:nth-child(16){
	border-right: 0;
}
.solar ul li:nth-child(20){
	border-right: 0;
}
.solar ul li:nth-child(24){
	border-right: 0;
}

.dibu{
    height: .5rem;
    width: 100%;
}
.footer ul{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: .49rem;
    border-top: 1px solid #e3e3e3;
    background: #fff;
}
.footer ul li{
    display : flex; 
    display: -webkit-flex;
    display: -ms-flexbox;
    flex: auto;
    -ms-flex: auto;
    -webkit-flex: auto;
    align-items: center;
    position: relative;
}
.footer ul li a{
    width: 100%;
     display : flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
.footer ul li:nth-child(1) a i{
    display: inline-block;
    width: .21rem;
    height: .21rem;
    background:url(../images/btn_calendar_selected.png) no-repeat;
    background-size: cover;
}
.footer ul li:nth-child(2) a i{
   display: inline-block;
    width: .21rem;
    height: .21rem;
    background:url(../images/btn_huangli.png) no-repeat;
    background-size: cover;
}

.footer ul li a em{
     display : flex;
     display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    justify-content: center;
    margin-top: .04rem;
}
.footer ul li:nth-child(1) a{
    color: #ec5252;
}
.footer ul li:nth-child(1):before{
    content: " ";
   position: absolute;
   right: 0;
   top: 15%;
   height: 70%;
   background: #e3e3e3;
   width: 1px;

}

/*弹窗*/
.tc{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 12;
    display: none;
}
.tc-innner{
    background: #fff;
    width: 7rem;
    height: 5.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -3rem 0 0 -3.4rem;
    z-index: 14;
    border-radius: 4px;
    overflow: hidden;
    display: none;
}

.tc-innner h2{height: .8rem;width: 100%; box-sizing: border-box;padding: 0 0.15rem;font-size: 0.3rem;color: #00ba97;line-height: 0.8rem;    font-weight: normal;}
.title-right{float: right;width: 1.1rem;height: 0.24rem;border: 1px #ec5252 solid;box-sizing: border-box; border-radius: 10px;margin-top: 0.125rem;overflow: hidden;}
.title-right .zblck{width: 50%;height: 100%;color: #ec5252;font-size: 0.14rem;line-height: 0.22rem;text-align: center;float: left;}
.title-right .active{background: #ec5252;color: #fff;}
.current-time{text-align: center;height: 0.5rem;line-height: 0.5rem;font-size: 0.3rem;color: #666;}
.swiper-box{height:2.8rem;margin: 0 0.15rem;box-sizing: border-box; margin-top: 0.5rem;position: relative;}
.swiper-box i{width: 100%;height: 1px;background: #e3e3e3;display: block;position: absolute;left: 0;}
.swiper-box .i1{top:.6rem;}
.swiper-box .i2{top: 1.5rem;}
.swiper-box .i3{top: 2.4rem;display:none;}


.swiper-box-li{width:49%;float: left;text-align: center;overflow: hidden;}
.nbxs{height: 2.5rem;font-size:.3rem;}
.nbxs .swiper-slide{height: 0.9rem;line-height: 0.53rem;}
.nbxs .swiper-slide-active{color: #00ba97;}

.tc-bot{height: 0.8rem;border-top: 1px #e3e3e3 solid;position: relative;}
.tc-bot>div{float: left;width: 50%;line-height: 0.8rem;font-size: 0.3rem;text-align: center;} 
.tc-bot-left{color: #999;}
.tc-bot-right{color: #00ba97;}
.tc-bot i{display: block;width: 1px;height: 0.5rem;background: #e3e3e3;position: absolute;top: 0.14rem;left: 50%;margin-left: 1px;}




/*loading*/
.loading{width: 1.53rem;height:1.15rem;position: fixed;top: 50%;left: 50%;background: rgba(0,0,0,0.8);border-radius: 6px; margin-left: -0.765rem;margin-top: -0.575rem;z-index: 9999999999999999999999999999;}
.loading-bj{background: url(../images/loading.png);width: 0.35rem;height: 0.35rem;background-size: 0.35rem;margin: 0.3rem auto 0;animation:rotateIn 1s .2s linear infinite;-moz-animation:rotateIn 1s .2s linear infinite;-webkit-animation:rotateIn 1s .2s linear infinite;}
.loading p{color:#fff;font-size: 0.14rem;text-align: center;margin-top: 0.1rem;}

@-webkit-keyframes rotateIn{
0%{transform: rotate(0)}
100%{transform: rotate(360deg)}
}
@-moz-keyframes rotateIn{
0%{transform: rotate(0)}
100%{transform: rotate(360deg)}
}

.reduction-bj{background: url(../images/reduction.png);width: 0.36rem;height: 0.36rem;background-size: 0.36rem;margin: 0.3rem auto 0;}
.jg{background: url(../images/jg.png); background-size: 0.36rem; }


.back2{background:url(../images/back.png) center no-repeat;background-size: 0.12rem 0.2rem;}








.calenda{
    overflow:hidden;
}
.CHour_s{
    height:8.5rem;
    background:#f1f1f1;
}
.CHour_s_title{
    text-align:center;
    padding:.4rem 0;
    font-size:.4rem;
}
.CHour_s_title span{
    color:#808080;
    margin-right:.2rem;
}
.CHour_s_title span:first-of-type{
    color:#61c9b0;
}
.CHour_s ul{
    height: 6.8rem;
    overflow:auto;
}
.CHour_s ul li{
    display:block;
    width:9.1rem;
    height:1.9rem;
    background:#fff;
    margin:0 auto;
    border-radius:.1rem;
    margin-bottom:.26rem;
}
.CHour_s ul li a{
    display:block;
    height:100%;
}
.CHour_s_more_left{
    width:1.3rem;
    height:1.06rem;
    border-right:1px solid #e1e1e1;
    margin:0.42rem;
    float:left;
}
.CHour_s_more_left p{
    font-size:.34rem;
    color:#808080;
}
.CHour_s_more_left span{
    display:block;
    width:1px;
    background:#808080;
    margin:.05rem 0;
    margin-left:.45rem;
    height:.18rem;
}
.CHour_s_more{
    float:left;
    width:5.7rem;
    height:1rem;
    margin-top:.42rem;
}
.CHour_s_more h4{
    width:5.7rem;
    height:.5rem;
    font-size:.42rem;
    line-height:.5rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:normal;
    color:#333;
}
.CHour_s_more p{
    font-size:.3rem;
    color:#808080;
    margin-top:.2rem;
}
.CHour_s_more p i{
    color:#00ba97;
}
.CHour_s_more_right{
    float:right;
    margin-top:.85rem;
    margin-right:0.66rem;
}
.activ_c p,.activ_c span,.activ_c h4,.activ_c i{
    color:#ccc!important;
}
.H-data{
    display:block;
}
.N-data{
    display:none;
}
.N-data img{
    display:block;
    padding-top:2.17rem;
    margin:0 auto;
}
.N-data h4{
    font-size:.4rem;
    color:#aeadad;
    text-align:center;
    margin-top:.3rem;
    font-weight:normal;
}
html body .Schedule_stu li{
    height:2.46rem;
}
.Schedule_stu li .CHour_s_more_left{
    padding:.3rem 0;
}
.Schedule_stu li .CHour_s_more i{
    color:#808080;
    margin-right:.02rem;
} 
.Schedule_stu li .CHour_s_more span{
    margin-right:.38rem;
}
html body .stu_data li{
    height:2.3rem;
}
.stu_data .CHour_s_more_left{
    padding:.2rem 0;
}
.stu_data .CHour_s_more{
    margin-top:.3rem;
}
.stu_data .CHour_s_more span{
    margin-left:.3rem;
}
.loading_s{
    width: 150px;
    height: 15px;
    margin: 0 auto;
    margin-top:2rem;
}
.loading_s span{
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    background: lightgreen;
    -webkit-transform-origin: right bottom;
    -webkit-animation: load 1s ease infinite;
}
.loading_s span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        }
    100%{
        opacity: 0;
        -webkit-transform: rotate(90deg);
        }
}
.loading_s span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading_s span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading_s span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading_s span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading_s span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.load_t{
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    z-index:10;
    background:#fff;
}
.load_t .loading_s{
    margin-top: 7rem;
}