<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>教师端</title>
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<script src="./__localJsCss__/public/3rdLibs/jquery/v2.2.3/jquery-2.2.3.min.js?v=0139f82"></script>
<link rel="stylesheet" type="text/css" href="./__localJsCss__/public/3rdLibs/toastr/v2.1.2/toastr.min.css?v=c4d5050">
<script src="./__localJsCss__/public/3rdLibs/toastr/v2.1.2/toastr.min.js?v=1e12d06"></script>
<script src="./__localJsCss__/public/3rdLibs/vue/v2.0.8/vue.js?v=aa56f2e"></script>
<link rel="stylesheet" href="./teacher/css/all.css?v=20170414" />
<script src="./teacher/js/jquery-plugin-circliful-1.0.2/js/jquery.circliful.min.js?v=418d7b3"></script>
</head>
<body>
<div id="app" v-cloak style="height: 100%">
	<div class="headLine"></div>
    <div class="main">
        <div class="content">
            <div class="s-title">
                <div class="s-title-left">{{vTitle}}</div>
                <div class="s-title-right">{{vLink}}</div>
            </div>
            <div class="s-block borderbox">
                <ul class="s-carota-ul">
                    <li class="s-carota-progress">
                        <div class="s-carota-bar" v-bind:style="{height:vNumberAnswer.fAnswerType.A+'%'}"></div>
                    </li>
                    <li class="s-carota-progress">
                        <div class="s-carota-bar" v-bind:style="{height:vNumberAnswer.fAnswerType.B+'%'}"></div>
                    </li>
                    <li class="s-carota-progress">
                        <div class="s-carota-bar" v-bind:style="{height:vNumberAnswer.fAnswerType.C+'%'}"></div>
                    </li>
                    <li class="s-carota-progress">
                        <div class="s-carota-bar" v-bind:style="{height:vNumberAnswer.fAnswerType.D+'%'}"></div>
                    </li>
                </ul>
                <!--ul class="s-select-ul">
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                    <li>D</li>
                </ul-->
                <ul class="s-checkbox-ul">
                    <li v-on:click="selectABCD('A')">
                        <div class="s-checked" v-if="vABCD == 'A'">A</div>
                        <div class="s-check" v-else>A</div>
                        <div>{{vNumberAnswer.answerType.A}}人</div>
                        <div>( {{vNumberAnswer.fAnswerType.A}}% )</div>
                    </li>
                    <li v-on:click="selectABCD('B')">
                        <div class="s-checked" v-if="vABCD == 'B'">B</div>
                        <div class="s-check" v-else>B</div>
                        <div>{{vNumberAnswer.answerType.B}}人</div>
                        <div>( {{vNumberAnswer.fAnswerType.B}}%)</div>
                    </li>
                    <li v-on:click="selectABCD('C')">
                        <div class="s-checked" v-if="vABCD == 'C'">C</div>
                        <div class="s-check" v-else>C</div>
                        <div>{{vNumberAnswer.answerType.C}}人</div>
                        <div>( {{vNumberAnswer.fAnswerType.C}}% )</div>
                    </li>
                    <li v-on:click="selectABCD('D')">
                        <div class="s-checked" v-if="vABCD == 'D'">D</div>
                        <div class="s-check" v-else>D</div>
                        <div>{{vNumberAnswer.answerType.D}}人</div>
                        <div>( {{vNumberAnswer.fAnswerType.D}}% )</div>
                    </li>
                </ul>
                <div class="s-btn">
                    <a class="s-btn-ora" href="javascript:;" v-if="vButton == 'start'" v-on:click="buttonStart">开始答题</a>
                    <a class="s-btn-ora" href="javascript:;" v-if="vButton == 'answer'" v-on:click="buttonAnswer">公布答案</a>
                    <a class="s-btn-ora" href="javascript:;" v-if="vButton == 'stop'" v-on:click="buttonStop">停止答题  <span>( {{vCountDown}} 秒)</span></a>
                    <a class="s-btn-ora" href="javascript:;" v-if="vButton == 'stopEnd'">停止答题 </a>
                </div>
                <div class="s-dialog-wrap" v-if="vShowDialog">
                    <div class="s-dialog">
                        <div class="s-dialog-small-txt">您还未公布答案</div>
                        <div class="s-dialog-big-txt">是否公布答案?</div>
                        <div class="s-dialog-btn">
                            <a href="javascript:;" class="s-btn-green-small js-selectAnswer" v-on:click="buttonAnswerYes(true)">选择答案</a>
                            <a href="javascript:;" class="s-btn-yellow-small js-no-selectAnswer" v-on:click="buttonAnswerNo(false)">不选答案</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rightbar" v-if="vShowRightList">
        <div class="s-cicle-box">
            <!--<div id="myCicle"></div>-->
        </div>
        <!--  20170412 start-->
        <div class="s-arrowButton" v-on:click="switchButton" v-if="vNumberClasses.fList.length>0"></div>
        <!--  20170412 end-->
        <div class="s-student-wrap js-scrollContent" >
            <ul class="s-student">
                <li v-for="item in vNumberClasses.fList">
                    <div class="s-student-name">{{item.schoolName}} {{item.teacherName}}</div>           
                    <div class="s-student-process" v-if="vArrowButton">
                    	<div class="progress-percent">{{item.percent+'%'}}</div>
                        <div class="progress">
                            <div v-if="item.percent > 80" v-bind:style="{width:item.percent+'%'}" class="progress-bar"></div>
                            <div v-if="item.percent > 60 && item.percent <= 80" v-bind:style="{width:item.percent+'%'}" class="progress-bar progress-bar-warning"></div>
                            <div v-if="item.percent > 0 && item.percent <= 60" v-bind:style="{width:item.percent+'%'}" class="progress-bar progress-bar-danger"></div>
                        </div>
                        
                    </div>            
                    <div class="s-student-percent-wrap" v-else>
                        <div class="s-student-percent" v-bind:class="{'s-student-percent-green':item.percent > 80,'s-student-percent-yellow':item.percent > 60 && item.percent <= 80,'s-student-percent-red':item.percent > 0 && item.percent <= 60}">{{item.classAnswerNumber}}/{{item.classTotalNumber}}</div>                    
                    </div>            
                </li>
            </ul>
        </div>

    </div>
    <div class="rightbar" v-else>
        <div class="s-cicle-txt">各班正确率</div>
        <!--  20170412 start-->
        <div class="s-arrowButton" v-on:click="switchButton" v-if="vClassesCorrectRate.fList.length>0"></div>
        <!--  20170412 end-->
        <div class="s-student-wrap js-scrollContent">
            <ul class="s-student">
                <li v-for="item in vClassesCorrectRate.fList">
                    <div class="s-student-name">{{item.schoolName}} {{item.teacherName}}</div>
                    <div class="s-student-process" v-if="vArrowButton">
                        <div class="progress">
                            <div v-if="item.percent > 80" v-bind:style="{width:item.percent+'%'}" class="progress-bar"></div>
                            <div v-if="item.percent > 60 && item.percent <= 80" v-bind:style="{width:item.percent+'%'}" class="progress-bar progress-bar-warning"></div>
                            <div v-if="item.percent > 0 && item.percent <= 60" v-bind:style="{width:item.percent+'%'}" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="progress-precent">{{item.percent+'%'}}</div>
                    </div>
                    <div class="s-student-percent-wrap" v-else>
                        <div class="s-student-percent" v-bind:class="{'s-student-percent-green':item.percent > 80,'s-student-percent-yellow':item.percent > 60 && item.percent <= 80,'s-student-percent-red':item.percent > 0 && item.percent <= 60}">{{item.classRightNumber}}/{{item.classTotalNumber}}</div>                    
                    </div>  
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="./teacher/js/all.js?v=20170414"></script>

<!-- debug -->
<div class="f-debugData js-debugData" style="display:none;">
    <a href="javascript:;" class="f-debugData-close js-debugData-close">X</a>
    <div class="f-debugData-main"></div>
</div>

<a class="f-debug-button2 js-debug-loadJsTest" href="javascript:;" style="position:absolute; top:0; left:0; z-index:20000; display:none;">T</a>

<div class="f-debug js-debug" style="display:none;">
    <a  class="f-debug-button js-debugData-open" href="javascript:;">开启数据调试</a>
    <a class="f-debug-button" href="javascript:window.close();">关闭窗口</a>
    <a class="f-debug-button" href="javascript:window.location.reload();">刷新</a>
</div>

<script type="text/javascript">
function loadJs(url) {
    var jsCreate = document.createElement("script");
    jsCreate.src = url + "?v=" + new Date().getTime();
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(jsCreate, s);
}
/*loadJs('./teacher/js/test.js');*/
if (window.location.hostname == "mockppss.staff.xdf.cn") {
    loadJs('./teacher/js/test.js');
}

if (window.location.hostname == "tppss.staff.xdf.cn" || window.location.hostname == "devppss.staff.xdf.cn") {
    $(".js-debug-loadJsTest").show();
    $(".js-debug-loadJsTest").click(function(){
        $(this).hide();
        $(".js-debugData").show();
    });
}
</script>
</body>
</html>
