/*2017-3-16 18:37:12*/
html, body {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

body {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

/*答题状态*/
.f-question{
    color: #00ff71;
    position: absolute;
    top:30px;
    right:142px;
    font-size: 20px;
}

/*
    兔子
    画布尺寸 1366 * 768
    素材尺寸 159 * 189
    字体 40
*/
.f-rabbit-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 900;
}
/*.f-rabbit-item {
    position: absolute;
    width: 159px;
    height: 189px;
    bottom: 0;
    left: 0;
    text-align: center;
    background: url(../images/rabbit.png) center bottom no-repeat;
    background-size: contain;
    font-size: 40px;
    color: #fff;
}*/

.f-rabbit-item{
    position: absolute;
    bottom: 0px;
    left: 0;
    text-align: center;
    background: url(../images/face-2.png) center bottom no-repeat;
    background-size: contain;
    color: #fff;
    transform: translateY(120%)
}
@media screen and (max-height: 600px) {
    .f-rabbit-item {
        width: 140px;
        height: 166px;         
        margin-left: -70px;  
    }
    .f-rabbit-item h1{
        width: 170px;
        position: relative;
        top: -35px;
        margin-left: -15px;
        font-size: 30px;
        word-break: break-all;
    }
}
@media screen and (min-height:600px) and (max-height:760px) {
    .f-rabbit-item {     
        width: 160px;
        height: 190px;     
        font-size: 40px;     
        margin-left: -80px;     
    }
    .f-rabbit-item h1{
        width: 190px;
        position: absolute;
        top: -45px;
        margin-left: -15px;
        font-size: 40px;
        word-break: break-all;
    }
}
@media screen and (min-height:760px)and (max-height:1000px) {
    .f-rabbit-item {
        width: 194px;
        height: 230px;     
        font-size: 42px;   
        margin-left: -97px;  
    }
    .f-rabbit-item h1{
        width: 224px;
        position: absolute;
        top: -47px;
        margin-left: -15px;
        font-size: 42px;
        word-break: break-all;
    }
}

@media screen and (min-height:1000px) {
    .f-rabbit-item {
        width: 220px;
        height: 260px;     
        font-size: 42px;   
        margin-left: -110px;  
    }

    .f-rabbit-item h1{
        width: 250px;
        position: absolute;
        top: -47px;
        margin-left: -15px;
        font-size: 42px;
        word-break: break-all;
    }
}

.f-rabbitJump{
    -webkit-animation: rabbitJump 1s;
}

@-webkit-keyframes rabbitJump {
    0% {
        transform: translateY(100%)
    }
    50%{
        transform: translateY(0%)
    }
    100% {
        transform: translateY(120%)
    }
}
/*
    萝卜
    画布尺寸 1366 * 768
    素材尺寸 255 * 652
    字体 xx
*/
.f-carrot-wrap{
    position: absolute;
    right: 30px;
    top: 50%;
    width: 275px;
    height: 700px;
    margin-top: -330px;
}
@media screen and (max-height: 700px) {
    .f-carrot-wrap {
        width: 196px;
        height: 500px;
        margin-top: -250px;
    }
}
/*
@media screen and (max-height: 700px) {
    .f-carrot-wrap {
        width: 196px;
        height: 500px;
        margin-top: -250px;
    }
}*/
.f-carrot-grey{
    position: absolute;
    background: url(../images/carrot_grey.png) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.f-carrot-color{
    position: absolute;
    background: url(../images/carrot.png) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.f-carrot-text{
    position: absolute;
    width: 100%;
    color: #fff;
    top: 20%;
    text-align: center;
    font-size: 20px;
}
.f-carrot-number{
    font-size: 30px;
}
.f-carrot-total{
    font-size: 20px;
}

/*奖牌*/
.f-medal-wrap {
    width: 376px;
    height: 262px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -188px;
    margin-top: -131px;
    z-index: 800;
}
.f-medal-img {
    width: 100%;
    height: 100%;
    text-align: center;
    background: url("../images/rightAnswer.png") no-repeat;
}
.f-medal-show .f-medal-img {
    -webkit-animation: cssMedalImgShow .8s;
}
.f-medal-hide .f-medal-img {
    -webkit-animation: cssMedalImgHide .8s;
}
@-webkit-keyframes cssMedalImgShow {
    0% {
        transform: scale(.1)
    }
    95% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}
@-webkit-keyframes cssMedalImgHide {
    0% {
        transform: scale(1)
    }
    5% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(.1)
    }
}
.f-medal-text {
    font-size: 85px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: -webkit-calc(50% - 30px);
}
.f-medal-show .f-medal-text {
    -webkit-animation: cssMedalTextShow .6s;
    animation-delay: .2s;
}
.f-medal-hide .f-medal-text {
    -webkit-animation: cssMedalTextHide .3s;
    animation-delay: .15s;
}
@-webkit-keyframes cssMedalTextShow {
    0% {
        transform: scale(.1)
    }
    100% {
        transform: scale(1)
    }
}
@-webkit-keyframes cssMedalTextHide {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(.5)
    }
}


/* 排行榜 */
@media screen and (max-height: 700px) {
    .f-rank-wrap-scale{
        transform: scale(0.7);
        width: 807px;
        height: 740px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -403.5px;
        margin-top: -360px;
    }
}
.f-rank-wrap{
    width: 807px;
    height: 740px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -403.5px;
    margin-top: -450px;
}
.f-rank-wrap-ext{
    margin-top: 50px;
    position: relative;
}
.f-rank-wrap-animation {
    -webkit-animation: animationWrap .6s;
}
@-webkit-keyframes animationWrap {
    0% {
        transform: translateY(-100%)
    }
    65% {
        transform: translateY(5%)
    }
    85% {
        transform: translateY(2.4%)
    }
    100% {
        transform: translateY(0%)
    }
}
.f-rank-glow{
    background: url(../images/glow.png) no-repeat;
    width: 807px;
    height: 664px;
    position: absolute;
    top: 0;
    left: 0;
}
.f-rank-glow-animation{
    -webkit-animation: animationGlow 8s infinite;
}
@-webkit-keyframes animationGlow {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(15deg);
    }
    66% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.f-rank-ear {
    background: url(../images/ear.png) no-repeat left center;
    width: 138px;
    height: 65px;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -69px;
}
.f-rank-cup {
    background: url(../images/cup.png) no-repeat left center;
    width: 147px;
    height: 120px;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -73.5px;
}
.f-rank-cup-animation {
    -webkit-animation: animationCup .5s;
}
@-webkit-keyframes animationCup {
    0% {
        transform: translateY(0%)
    }
    30% {
        transform: translateY(15%)
    }
    80% {
        transform: translateY(-5%)
    }
    100% {
        transform: translateY(0%)
    }
}
.f-rank-colours {
    background: url(../images/colours.png) no-repeat left center;
    width: 592px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -294px;
}
.f-rank-colours-ext{
    transform: scale(0);
}
.f-rank-colours-animation {
    -webkit-animation: animationColours 1s;
}
@-webkit-keyframes animationColours {
    0% {
        transform: scale(0)
    }
    50% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}
.f-rank-board-main {
    background: url(../images/rankBoard.png) no-repeat left center;
    width: 592px;
    height: 460px;
    position: absolute;
    top: 225px;
    left: 50%;
    margin-left: -294px;
}
.f-rank-board-main p{
    color: #fff;
    font-size: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 210px;
    width: 0;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.f-rank-board-main .t-1{ top: 101px; }
.f-rank-board-main .t-2{ top: 207px; }
.f-rank-board-main .t-3{ top: 316px; }
.f-rank-board-title {
    background: url(../images/rankTitle.png) no-repeat left center;
    width: 592px;
    height: 110px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -294px;
}
/**/
.f-debug{
    position: absolute;
    z-index: 10000;
    top: 15px;
    left: 15px;
}
.f-debug-button{
    border:1px solid #cdee6e;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.f-debug-button2{
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
}
.f-debugData{
    width:40%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    color:gray;
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    z-index: 10000;
    overflow:auto;
}
.f-debugData-close{
    float: right;
    color: #f00;
    font-size: 30px;
    padding: 5px;
}
.f-debugData-main{
    
}
.f-debugData-item{
    color: #fff;
    font-size: 14px;
    padding: 5px;
    border-bottom: 1px solid #fff;
    white-space:pre-wrap; /*css-3*/ white-space:-moz-pre-wrap; /*Mozilla,since 1999*/ white-space:-pre-wrap; /*Opera 4-6*/ white-space:-o-pre-wrap; /*Opera 7*/ word-wrap:break-word; /*Internet Explorer 5.5+*/ white-space:normal;/*Internet Explorer 5.5+*/
}
.f-debugData-item span{
    color: #f00;
    background-color: white;
}
/* 
屏幕分辨率>1500 
*/
/* 20170509 新泡泡ui start*/
.f-ball02-wrap{
    display: table;
    width: 140px;
    height: 140px;
    background: url(../images/paopao1.png) no-repeat;
    background-size: contain;
    z-index: 999;
    position: absolute;
    left: 0;
    bottom:-140px;
}
.f-ball02{
    display: table-cell;
    vertical-align: middle;
}
.f-ball02 h1{
    font-size: 30px;
    color: #fff;
    width: 130px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
}
.f-ball02 p{
    text-align: center;
}
.f-ball02 p label{
    margin-right: 2px;
}
.f-ball02 p label,.f-ball02 p span{
    color: #fff;
    font-size: 30px;
}
/* >1500 5<x<10 */
.f-ball02-wrap.f-ball02-wrap-more5{
    width: 200px;
    height: 200px;
    left: 0px;
    bottom:-200px;
}
.f-ball02-wrap-more5 .f-ball02 h1{
    font-size: 34px;
    width: 190px;
    color: #ff9600;
}
.f-ball02-wrap-more5 .f-ball02 p label,.f-ball02-wrap-more5 .f-ball02 p span{
    color: #fff;
    font-size: 34px;
}
/* >1500 x>10 */
.f-ball02-wrap.f-ball02-wrap-more10{
    width: 240px;
    height: 240px;
    left: 0px;
    bottom:-240px;
}
.f-ball02-wrap-more10 .f-ball02 h1{
    font-size: 38px;
    width: 230px;
    color: #ffd800;
}
.f-ball02-wrap-more10 .f-ball02 p label,.f-ball02-wrap-more10 .f-ball02 p span{
    color: #fff;
    font-size: 38px;
}
/* 媒体查询 */
@media screen and (max-width: 1500px) {
    /* <1500 <5题 高120 字体24px 颜色h1 ff9600*/
    .f-ball02-wrap{
        width: 120px;
        height: 120px;
        left: 0;
        bottom:-120px;     
    }
    .f-ball02 h1{
        font-size: 24px;
        width: 110px;
    }
    .f-ball02 p label,.f-ball02 p span{
        color: #fff;
        font-size: 24px;
    }
    /* 5<x<10  高160 字30 颜色ff9600*/
    .f-ball02-wrap.f-ball02-wrap-more5{
        width: 160px;
        height: 160px;
        left: 0px;
        bottom:-160px;
    }
    .f-ball02-wrap-more5 .f-ball02 h1{
        font-size: 30px;
        width: 136px;
    }
    .f-ball02-wrap-more5 .f-ball02 p label,.f-ball02-wrap-more5 .f-ball02 p span{
        color: #fff;
        font-size: 30px;
    }
     /* x>10  高200 字34 颜色ffd800*/
     .f-ball02-wrap.f-ball02-wrap-more10{
        width: 200px;
        height: 200px;
        left: 0px;
        bottom:-200px;
    }
    .f-ball02-wrap-more10 .f-ball02 h1{
        font-size: 34px;
        width: 160px;
    }
    .f-ball02-wrap-more10 .f-ball02 p label,.f-ball02-wrap-more10 .f-ball02 p span{
        color: #fff;
        font-size: 34px;
    }
}

.f-ball02-wrap-end02 {
    -webkit-animation: boom .5s;
}
.f-ball02-wrap.f-ball02-wrap-end {
    background: url(../images/paopao3.png) center center no-repeat;
    background-size: contain;
    -webkit-animation: boom1 .2s;
}
@-webkit-keyframes boom {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}
@-webkit-keyframes boom1 {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(0.6)
    }
}
/* 20170509 新泡泡ui end */