body,html{
    background: #f1f1f1;
}
.tab-title{
    height: 88px;
    margin-bottom: 24px;
    background: #fff;
    font-size: 30px;
    color: #959595;
}
.tab-title li{
    text-align: center;
    float: left;
    width: 164px;
    line-height: 86px;

}
.tab-title li a{
    color:#000;
}
.tab-title li:first-child{
    margin: 0 175px 0 129px;
}
.tab-active{
    color:#67cdb4;
    border-bottom: 2px solid #67cdb4;
}
.tab-title .tab-active a{
    color:#67cdb4;
}
.main-content{
    background: #fff;
}







/*老师成绩报表*/
.classroom_s{
    width:690px;
    height:112px;
    margin:0 auto;
    border-bottom:1px solid #e1e1e1;
    background:#fff;
}